<h1> <%= @universe.name %> </h1>

<%= button_to "Edit Universe", {action: "edit", id: @universe.id}, method: :get %>
<%= form_tag universe_path(@universe), method: "delete" do %>
  <%= submit_tag "Delete Universe" %>
<% end %>
<br>
<% if current_user %>
    <%= form_for @universe.favorites.build do |f| %>
        <%= f.hidden_field :universe_id, :value => @universe.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit :"Add to Favorites"%>
    <% end %>
    <br>
    <% end %>

    <h2>DESCRIPTION: </h2>
    <p> <%= @universe.description %> </p>
<br>
<ul>
    
    
    <% @universe.media.each do |media| %>
        <h2> <%= media.media_type %> </h2>
        <hr align="left" style="width:40%">
        <li> <%= link_to media.name, medium_path(media) %> </li>
    <% end %>


    <h1>Characters</h1>
    <% @universe.characters.each do |character| %>
    <li> <%= link_to character.name, character_path(character) %> </li>
    <%end%>
</ul>


<%= link_to "Home", home_path %>
<br>
<%= link_to "Universe Index", universes_path %>
<br>
<%= link_to "Character Index", characters_path %>