<!DOCTYPE html>
<html>
  <head>
    <title>ProjectWeeaboo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <% if current_user %>
          Welcome, <%= current_user.name %>
          <%= form_tag "/logout" , method: "DELETE" do %>
            <%= submit_tag "Log out" %>
            <%= link_to "User Page", user_path(@user) %>
          <% end %>
        <% else %>
        <%= link_to "Log in" , "/login" %>  |  
        <%= link_to "Create Account", "/users/new"%>
        <% end %>
        <hr>
      </div>
    <%= yield %>
  </body>
</html>
